<div class="text-editor-wysiwyg"
     ng-mouseover="vmTextEditor.hover = true"
     ng-mouseleave="vmTextEditor.hover = false">
    <!-- text-angular -->
    <div class="text-editor" ng-if="vmTextEditor.editable">
        <!-- element (Edit) -->
        <div class="element" text-angular ng-model="vmTextEditor.element"></div>
    </div>
    <!-- buttons -->
    <div class="pull-right buttons-editor">
        <md-button md-colors="{background: 'grey-900-0.5'}" class="md-raised" aria-label="Discard"
                   ng-click="vmTextEditor.close()"
                   ng-if="vmTextEditor.editable">
            Close
        </md-button>
        <!--<md-button md-colors="{background: 'green-900-1'}" class="md-raised md-primary" aria-label="Save"-->
                   <!--ng-click="vmTextEditor.save()"-->
                   <!--ng-if="vmTextEditor.editable">-->
            <!--Save-->
        <!--</md-button>-->
    </div>
    <!-- element (View) -->
    <!-- text-bind -->
    <div class="element" ng-if="!vmTextEditor.editable"
         ng-bind-html="vmTextEditor.element"
         ng-click="vmTextEditor.edit()"></div>

    <!-- if empty, show message -->
    <div class="element empty-text-wrapper" ng-if="vmTextEditor.isNullOrEmptyOrUndefined() && !vmTextEditor.editable"
         ng-click="vmTextEditor.edit()">
        <p><i>{{vmTextEditor.placeholder}}</i></p>
    </div>
</div>