<ion-view view-title="Course Details">

  <div class="bar bar-subheader" style="text-transform: capitalize;border-bottom: none;">
    <h1 class="title"><strong> {{CourseDetailsCtrl.course.name}} </strong><span class="badge badge-royal">{{CourseDetailsCtrl.course.code}}</span>
    </h1>
  </div>

  <ion-content class="has-subheader">
    <ion-list>

      <div class="row" style="border-top: 0.2px solid lightgray;">
        <div class="col" style="text-align: center;">
          <h4><strong> EC: </strong><span class="badge badge-royal"> {{CourseDetailsCtrl.course.ec || " - "}} </span>
          </h4>
        </div>
        <div class="col" style="text-align: center;">
          <h4><strong> BLOCK: </strong><span
            class="badge badge-royal"> {{CourseDetailsCtrl.course.block || " - "}} </span></h4>
        </div>
      </div>

      <ion-item class="item item-icon-left bar bar-dark" style="color: #ffffff;">
        <i class="icon icon ion-calendar"></i>
        <strong ng-if="CourseDetailsCtrl.course.regStartDate == null">TBD</strong>
        {{CourseDetailsCtrl.course.regStartDate | amUtc | amLocal | amDateFormat:'MMMM DD, YYYY HH:mm:00'}}
      </ion-item>
      <ion-item class="item item-icon-left bar bar-dark">
        <i class="icon ion-calendar"></i>
        <strong ng-if="CourseDetailsCtrl.course.regEndDate == null">TBD</strong>
        {{CourseDetailsCtrl.course.regEndDate | amUtc | amLocal | amDateFormat:'MMMM DD, YYYY HH:mm:00'}}
      </ion-item>

      <ion-item class="item item-icon-left">
        <i class="icon ion-ios-people"></i>
        Max Seats/Filled Seat: {{CourseDetailsCtrl.course.maxSeats || " - "}}/{{course.filledSeat || " - "}}
      </ion-item>

      <ion-item class="item item-icon-left" style="border: 0px;padding-top:10px;padding-bottom: 10px;">
        <i class="icon ion-ios-people-outline"></i> Teachers:
      </ion-item>
      <ion-item class="item" ng-if="CourseDetailsCtrl.course.teachers.length == 0">
        - No Teacher Assigned Yet
      </ion-item>
      <ion-item class="item item-icon-left"
                ng-repeat="teacher in CourseDetailsCtrl.course.teachers track by teacher.pcn"
                style="border: 0px;padding-top:10px;padding-bottom: 10px;">
        <i class="icon ion-link"></i>
        <p>{{teacher.firstName}} : <a href="teacher.link">{{teacher.link}}</a></p>
      </ion-item>

      <ion-item class="item item-text-wrap">
        <h3>Description:</h3>
        <div ng-bind-html="CourseDetailsCtrl.course.description || 'No Desciption Added Yet...'"></div>
      </ion-item>

      <div class="item item-divider text-center">
        Reviews
      </div>
      <ion-item style="text-align: center;" ng-if="CourseDetailsCtrl.reviews.length === 0">No reviews yet, be the first one!</ion-item>
      <reviews ng-if="CourseDetailsCtrl.reviews > 0" review-list="CourseDetailsCtrl.reviews"></reviews>

    </ion-list>
  </ion-content>

  <ion-footer-bar class="bar-royal" id="courseDetailsButton-footer-bar">
    <a style="font-size: 20px;" class="button button-royal icon-left ion-android-star tab-item" ui-sref="app.addReview({course : CourseDetailsCtrl.course})">New review</a>
  </ion-footer-bar>

  <!--<div class="tabs-striped tabs-color-royal">-->
    <!--<div class="tabs">-->
      <!--<a class="title tab-item active" ui-sref="app.addReview({course : CourseDetailsCtrl.course})">-->
        <!--<i class="icon ion-ios-star-half"></i>-->
        <!--Review-->
      <!--</a>-->
      <!--&lt;!&ndash;Add New Review&ndash;&gt;-->
    <!--</div>-->
  <!--</div>-->

</ion-view>


