<ion-view view-title="Home">
  <ion-content>
    <div class="header top">
      <div class="" style="display: inline-block; padding-left: 0">
        <div class="" style="padding-left: 0">
          <h1 class="text-left text-muted"><strong style="text-transform: uppercase;">{{vmCourseView.course.name}}
          </strong>({{vmCourseView.course.code}})</h1>
        </div>
      </div>
    </div>

    <br/> <!--Registration end and start-->

    <div>
      <div class="row"> <!--style="display: inline-flex;"-->
        <div class="col-xs-2 well well-sm removeWellStyle">
          <div class="col-xs-2" style="padding-left: 0">
            <span class="text-left"><strong> EC </strong> {{vmCourseView.course.ec}}</span>
          </div>
        </div>
        <div class="col-xs-2 well well-sm removeWellStyle">
          <div class="col-xs-2" style="padding-left: 0">
            <span class="text-left"><strong> Block </strong>{{vmCourseView.course.block}}</span>
          </div>
        </div>
        <div class="col-xs-2 well well-sm removeWellStyle">
          <div class="col-xs-2" style="padding-left: 0">
            <span class="text-left"><strong> Max Seat </strong>{{vmCourseView.course.maxSeats}}</span>
            <span class="text-left"><strong> Filled Seat </strong>{{vmCourseView.course.filledSeat}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12" style="padding-left: 0;">
        <h3><strong>Description</strong></h3>
      </div>
      <div class="col-xs-7 well" style="background-color: transparent">
        <p> {{vmCourseView.course.description}}</p>
      </div>
    </div>


    <div class="row">
      <md-button class="md-fab pull-right" aria-label="go top" ng-click="vmCourseView.goTop()" data-toggle="tooltip"
                 title="GoTop"
                 style="background-color: #333; margin-bottom: 20px"><span
        class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></md-button>
    </div>
  </ion-content>
</ion-view>
