<ion-view view-title="GORCA login">
  <ion-nav-bar class="bar-royal"></ion-nav-bar>
  <ion-content id="login">
    <div class="list">
      <img class="col" src="../img/GORCALogo.PNG">
      <label class="item item-input item-floating-label">
        <span class="input-label">PCN</span>
        <input type="text" placeholder="PCN" ng-model="loginCtrl.loginData.pcn" ng-required="true">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Password</span>
        <input type="password" placeholder="Password" ng-model="loginCtrl.loginData.password" ng-required="true">
      </label>
    </div>
    <div class="padding">
      <button class="button button-block button-royal" ng-click="loginCtrl.trylogin()">Login</button>
    </div>
  </ion-content>
</ion-view>
