<ion-view view-title="My Courses" cache-view="false">
  <ion-content id="mycourses">
    <ion-list>

      <ion-item class="item-divider item-icon-left vertical-align-content">
        <i class="icon ion-heart-broken"></i>
        Mandatory Courses
        <div style="float: right;">EC: {{MyCoursesCtrl.mandatoryEC}}</div>
      </ion-item>

      <ion-item class="item-icon-right" href="#" ng-repeat="course in MyCoursesCtrl.mandatoryCourses track by course.code"
                ui-sref="app.courseDetailsView({courseView : course})">
        <h2>{{ course.code }}</h2>
        <p>{{ course.name }}</p>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>

      <ion-item class="item-divider item-icon-left">
        <i class="icon ion-checkmark-circled"></i>
        Elective Courses
        <div style="float: right;">EC: {{MyCoursesCtrl.acceptedEC}}</div>
      </ion-item>

      <ion-item class="item-remove-animate item-icon-right" ng-repeat="course in MyCoursesCtrl.acceptedCourses track by course.code"
                ui-sref="app.courseDetailsView({courseView : course})" >
        <h2>{{ course.code }}</h2>
        <p>{{ course.name }}</p>
        <i class="icon ion-ios-arrow-right"></i>
        <ion-option-button ng-click="MyCoursesCtrl.dropRegistration(course)" class="button-assertive icon-left ion-trash-b">
          Drop
        </ion-option-button>
      </ion-item>
      <ion-item ng-show="!MyCoursesCtrl.acceptedCourses.length">No Record Of Accepted Registrations!</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
