.courseTable {
    text-align: left;
    line-height: 40px;
    border-collapse: separate;
    border-spacing: 0;
    border: 2px solid #563d7c;
    border-radius: .25rem;
    table-layout: fixed;
    padding-right: 0px;
    padding-left: 0px;
}

.courseThead tr:first-child {
    background: #563d7c;
    color: #fff;
    border: none;
}

.courseTable th:first-child,
td:first-child {
    padding: 0 15px 0 20px;
}

.courseThead tr:last-child th {
    border-bottom: 3px solid #ddd;
}

.courseTBody tr:hover {
    background-color: rgba(237, 28, 64, .1);
    cursor: default;
}

.courseTBody tr:last-child td {
    border: none;
}

.courseTBody td {
    border-bottom: 1px solid #ddd;
}

td:last-child {
    text-align: right;
    padding-right: 10px;
}

.button {
    color: #aaa;
    cursor: pointer;
    vertical-align: middle;
}

.edit:hover {
    color: #0a79df;
}

.delete:hover {
    color: #dc2a2a;
}

.search-form .form-group {
    float: right !important;
    transition: all 0.35s, border-radius 0s;
    width: 32px;
    height: 32px;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    border-radius: 25px;
    border: 1px solid #ccc;
}
.search-form .form-group input.form-control {
    padding-right: 20px;
    border: 0 none;
    background: transparent;
    box-shadow: none;
    display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
    display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
    /* Firefox 18- */
    display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
    /* Firefox 19+ */
    display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
    display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
    width: 100%;
    border-radius: 4px 25px 25px 4px;
}
.search-form .form-group span.form-control-feedback {
    position: absolute;
    top: -1px;
    right: -2px;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #563d7c;
    left: initial;
    font-size: 14px;
}