<md-dialog aria-label="fontys students list dialog">
    <md-toolbar>
        <div class="md-toolbar-tools" style="background-color: #563d7c;">
            <h4>List of Fontys Students</h4>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vmFontysStudentsDialog.close()">
                <md-icon class="glyphicon glyphicon-remove" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            <student-custom-table student-list="vmFontysStudentsDialog.allFontysStudents" action="1"></student-custom-table>
        </div>
    </md-dialog-content>
</md-dialog>