<div class="container">

    <!--<div ng-if="vmLogin.GetError()" class="row">-->
        <!--<div class="alert alert-danger">-->
            <!--<a ng-href="" class="close" ng-click="vmLogin.SetErrorEmpty()">&times;</a>-->
            <!--<strong>Error!</strong> {{ vmLogin.errorMsg }}-->
        <!--</div>-->
    <!--</div>-->

    <div class="row">
    <form ng-submit="vmLogin.login()">
        <div style="margin-top: 5%" class="col-xs-4 col-xs-offset-4">
            <div class="form-group">
                <label for="InputPCNLogin">PCN</label>
                <input type="text" class="form-control" ng-model="vmLogin.newLogin.pcn" id="InputPCNLogin" placeholder="PCN" required>
            </div>
            <div class="form-group">
                <label for="InputPasswordLogin">Password</label>
                <input type="password" class="form-control" ng-model="vmLogin.newLogin.password" id="InputPasswordLogin" placeholder="Password" required>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-success btn-lg">Log in</button>
            </div>
        </div>
    </form>
    </div>
</div>