<div class="container" style="padding-bottom: 20px;">
    <div class="row">
        <div class="col-xs-12">
            <md-button class="md-fab md-primary pull-right" ng-click="vmHome.goToFontysCourseDialog()"
                       data-toggle="tooltip" title="Show Fontys Students" aria-label="fontysStudents">
                <span class="glyphicon glyphicon-download-alt"></span>
            </md-button>
        </div>
        <br/>
        <br/>
        <br/>
        <div class="col-xs-12">
            <course-custom-table course-list="vmHome.courses" edit-action="1" delete-action="1" add-action="0"></course-custom-table>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>