<div class="container" style="padding-bottom: 20px;">
    <div class="row">
        <!--<md-button class="md-fab md-primary pull-right" ng-click="vmHome.goToFontysCourseDialog()"-->
                   <!--data-toggle="tooltip" title="Show Fontys Courses" aria-label="fontysCourses">-->
            <!--<span class="glyphicon glyphicon-download-alt"></span>-->
        <!--</md-button>-->
        <table class="col-xs-12 courseTable">
            <thead class="courseThead">
            <tr>
                <th colspan="6">Courses</th>
                <th colspan="3">
                    <form action="" class="search-form">
                        <div style="margin-bottom: 0px;" class="form-group has-feedback">
                            <label for="search" class="sr-only">Search</label>
                            <input ng-model="searchText" class="form-control" name="search" id="search"
                                   placeholder="search" type="text">
                            <span class="glyphicon glyphicon-search form-control-feedback"></span>
                        </div>
                    </form>
                </th>
            </tr>
            <tr>
                <th>#</th>
                <th colspan="3">Course code</th>
                <th colspan="4">Name</th>
                <th colspan="1">
                    <i ng-click="vmHome.goToFontysCourseDialog()" title="Add" class="button pull-right glyphicon glyphicon-plus"
                       style="padding-right:10px;" data-toggle="tooltip"></i>
                </th>
            </tr>
            </thead>
            <tbody class="courseTBody">
            <tr ng-repeat="course in vmHome.courses | filter:searchText">
                <td>{{vmHome.RowNumber(course)}}</td>
                <td colspan="3">{{course.code}}</td>
                <td colspan="4"> {{course.name}}</td>
                <td colspan="1">
                    <i data-toggle="tooltip" title="Edit" style="margin-right: 5px"
                       class="button glyphicon glyphicon-edit"
                       ng-click="$state.go('courseEdit', {code: course.code})"></i>
                    <i data-toggle="tooltip" title="Delete" ng-click="vmHome.requestCourseDeletion(course)"
                       class="button glyphicon glyphicon-trash"></i>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>