<div class="container courseView">
    <div class="row header top">
        <div class="col-xs-12" style="display: inline-block; padding-left: 0">
            <div class="col-xs-9" style="padding-left: 0">
                <h1 class="text-left text-muted"><strong style="text-transform: uppercase;">{{vmCourseView.course.name}}
                </strong>({{vmCourseView.course.code}})</h1>
            </div>
        </div>
    </div>

    <br/>

    <div class="row">


        <div class="col-xs-12" style="padding-left: 0;">
            <h3><strong>Students</strong></h3>
        </div>
    </div>
    <div class="col-xs-12">
        <student-custom-table student-list="vmCourseView.acceptedStudents()"  delete-action="0" add-action="1"></student-custom-table>
    </div>


    <div class="row">
        <md-button class="md-fab pull-right" aria-label="go top" ng-click="vmCourseView.goTop()" data-toggle="tooltip"
                   title="GoTop"
                   style="background-color: #333; margin-bottom: 20px"><span
                class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></md-button>
    </div>
</div>