/*html, body {*/
    /*background-color: #FFFFFF;*/
    /*font-family: 'Source Sans Pro', "Arial Black", serif;*/
/*}*/

footer {
    display: table-row;
    height: 1px;
    background: #573d7e;
    color: #eee;
    font-size: 11px;
    padding: 20px;
}

footer ul.unstyled {
    list-style: none;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #333;
    margin: 0;
    display: table;
    height: 100%;
    width: 100%;
}

 /*general angular md-button customize - remove margin*/
.md-button {
    margin: 0;
    text-transform: none;
}

.teacherNav{
    background-color: #573d7e;
    border: none;
    color: #fff
}
.teacherNav .navbar-nav > li > a {
    color: #e7e7e7
}
.teacherNav .navbar-nav > li > a:hover {
    color: #5e5e5e;
}
.teacherNav .navbar-right > li > a {
    color: #e7e7e7
}
.teacherNav .navbar-right > li > a:hover {
    color: #5e5e5e;
}
.teacherNav .navbar-brand {
    color: #fff
}
.teacherNav .navbar-brand:hover, .teacherNav .navbar-brand:focus {
    color: #ccc;
}
.teacherNav .navbar-right .removeHighlight > a:hover, .teacherNav .navbar-right .removeHighlight > a:focus{
    background-color: transparent !important;
}

#mainNavBar .nav > li > a:hover, .nav > li > a:focus {
    color: #5e5e5e !important;
}

#mainNavBar .active {
    background-color: #eee;
    color: #5e5e5e !important;
}

#mainNavBar .active > a {
    color: #5e5e5e !important;
}

.glyphiconRight{
    color: #573d7e;
    font-size: x-large;
}

/*.rightIcon >a .glyphiconRight:hover, .rightIcon >a .glyphiconRight:focus{*/
    /*color: #DCDCDC;*/
/*}*/

#mainNavBar .dropdown-menu .hoverOnNotification:hover {
    background-image: linear-gradient(rgba(29, 33, 41, .04), rgba(29, 33, 41, .04)) !important;
    cursor: pointer;
}

#mainNavBar .navbar-right .removeHighlight i {
    text-align:center;
    vertical-align:middle;
}

#mainNavBar .navbar-right .removeHighlight .fa {
    position: relative;
}

#mainNavBar .navbar-right .removeHighlight .badgeNotification {
    font-size: .65em;
    display: block;
    position: absolute;
    top: -11px;
    right: -8px;
    width: 2em;
    height: 2em;
    line-height: 2em;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    background: rgba(255,0,0,0.9);
}

#mainNavBar .dropdown-menu .hoverOnNotification {
    /*padding-bottom: 5px;*/
    /*border-bottom: grey;*/
    /*border-bottom-width: 1px;*/
    /*border-bottom-style: solid;*/
    /*border-bottom-color: rgba(0,0,255,0.25);*/
}

#mainNavBar .dropdown-menu {
    right: 89px;
    top: 97%;
    cursor: default;
    left: auto;
}

#mainNavBar .dropdown-menu #notificationList {
    max-height: 500px;
    overflow-y: auto;
    max-width: 400px;
    word-wrap: break-word;
}

#mainNavBar .dropdown-menu #seeAllNotifications {
    padding: 5px;
    text-align:center;
    cursor:pointer;
}

#mainNavBar .dropdown-menu #notificationList .hoverOnNotification .capitalize {
    text-transform: capitalize;
}

#mainNavBar .showWindow {
    display: block;
}

#mainNavBar .dropdown-menu .beeperNub {
    background-image: url(../pics/dTQOHZm7Z-3.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0 -67px;
    height: 11px;
    position: absolute;
    top: -11px;
    width: 20px;
    right: 11px;
}

#mainNavBar .dropdown-menu #notificationList .hoverOnNotification .md-button.md-default-theme:not([disabled]).md-focused, .md-button:not([disabled]).md-focused, .md-button.md-default-theme:not([disabled]):hover, .md-button:not([disabled]):hover {
    background-color: transparent;
}

#mainNavBar .dropdown-menu #notificationList .hoverOnNotification md-list-item .md-avatar, md-list-item .md-list-item-inner .md-avatar {
    width: 50px;
    height: 50px;
}

.courseCard:hover .glyphiconRight {
    color: #DCDCDC;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}