/*html, body {*/
    /*background-color: #FFFFFF;*/
    /*font-family: 'Source Sans Pro', "Arial Black", serif;*/
/*}*/

footer {
    display: table-row;
    height: 1px;
    background: #573d7e;
    color: #eee;
    font-size: 11px;
    padding: 20px;
}

footer ul.unstyled {
    list-style: none;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #333;
    margin: 0;
    display: table;
    height: 100%;
    width: 100%;
}

 /*general angular md-button customize - remove margin*/
.md-button {
    margin: 0;
    text-transform: none;
}

.teacherNav{
    background-color: #573d7e;
    border: none;
    color: #fff
}
.teacherNav .navbar-nav > li > a {
    color: #e7e7e7
}
.teacherNav .navbar-nav > li > a:hover {
    color: #5e5e5e;
}
.teacherNav .navbar-right > li > a {
    color: #e7e7e7
}
.teacherNav .navbar-right > li > a:hover {
    color: #5e5e5e;
}
.teacherNav .navbar-brand {
    color: #fff
}
.teacherNav .navbar-brand:hover, .teacherNav .navbar-brand:focus {
    color: #ccc
}
.teacherNav .navbar-right > li > a:hover, .teacherNav .navbar-right > li > a:focus{
    background-color: transparent !important;
}
.glyphiconRight{
    color: #573d7e;
    font-size: x-large;
}

.rightIcon >a .glyphiconRight:hover, .rightIcon >a .glyphiconRight:focus{
    color: #DCDCDC;
}