<div class="container" style="padding-bottom: 20px;">
    <div class="row">
        <div class="col-xs-12">
            <md-button class="md-fab md-primary pull-right" ng-click="vmStudent.goToFontysStudentDialog()"
                       data-toggle="tooltip" title="Show Fontys Students" aria-label="fontysStudents">
                <span class="glyphicon glyphicon-download-alt"></span>
            </md-button>
        </div>
        <br/>
        <br/>
        <br/>
        <div class="col-xs-12 studentTable">
            <student-custom-table student-list="vmStudent.students" registration="0" remove-action="1" add-action="0"></student-custom-table>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>