<div class="container-fluid">
    <div class="row">
        <table>
            <thead>
            <tr>
                <th colspan="6">Allowed students</th>
                <th colspan="3">
                    <form action="" class="search-form">
                        <div style="margin-bottom: 0px;" class="form-group has-feedback">
                            <label for="search" class="sr-only">Search</label>
                            <input ng-model="searchText" class="form-control" name="search" id="search" placeholder="search" type="text">
                            <span class="glyphicon glyphicon-search form-control-feedback"></span>
                        </div>
                    </form>
                </th>
            </tr>
            <tr>
                <th>#</th>
                <th colspan="3">Student nr</th>
                <th colspan="2">Name</th>
                <th colspan="3">
                    <i class="button pull-right glyphicon glyphicon-plus" style="padding-right:10px;"></i>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="student in students | filter:searchText">
                <td>{{RowNumber(student)}}</td>
                <td colspan="3">{{student.StudentNr}}</td>
                <td>{{student.Name}}</td>
                <td colspan="4">
                    <i class="button glyphicon glyphicon-trash"></i>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>