<table class="table table-sm table-hover table-striped studentCustomTable" ts-wrapper>
    <thead>
    <tr class="tableHeader">
        <th colspan="1" style="vertical-align: middle;text-align: center;">
            <span ng-click="" class="glyphicon glyphicon-chevron-down"></span>
            <!--data-toggle="collapse" href="#collapseTable"-->
        </th>
        <th colspan="20" class="md-title" style="vertical-align: middle;">Students</th>
        <th colspan="2" style="vertical-align: middle;text-align: center;">
            <md-button class="pull-right" aria-label="Filter"
                       ng-click="vmStudentCustomTable.ShowOrHideFilter()">
                <span class="glyphicon glyphicon-filter" aria-hidden="true">Filter</span>
            </md-button>
        </th>
    </tr>
    </thead>
    <tbody class="collapse in"> <!--id="collapseTable"-->
    <tr ng-show="vmStudentCustomTable.showFilter">
        <th colspan="1"></th>
        <th colspan="2"><input type="text" ng-model="searchFilter.pcn" class="form-control" placeholder="PCN"></th>
        <th colspan="4"><input type="text" ng-model="searchFilter.firstName" class="form-control"
                               placeholder="1st Name"></th>
        <th colspan="4"><input type="text" ng-model="searchFilter.lastName" class="form-control"
                               placeholder="Last Name"></th>
        <th colspan="3"><input type="text" ng-model="searchFilter.email" class="form-control" placeholder="Email"></th>
        <th colspan="2"><input type="text" ng-model="searchFilter.studentNumber" class="form-control" placeholder="#">
        </th>
        <th colspan="1"><input type="text" ng-model="searchFilter.avgScore" class="form-control"
                               placeholder="Avg Score"></th>
        <th colspan="2"><input type="text" ng-model="searchFilter.major" class="form-control" placeholder="Major"></th>
        <th colspan="2"><input type="text" ng-model="searchFilter.studentType" class="form-control" placeholder="Type">
        </th>
        <th colspan="2"></th>
    </tr>
    <tr class="md-body-2">
        <th colspan="1" style="vertical-align: middle;text-align: center;">
            <md-checkbox style="margin-bottom: 0;" aria-label="Checkbox" ng-checked="vmStudentCustomTable.isChecked()"
                         md-indeterminate="vmStudentCustomTable.isIndeterminate()"
                         ng-click="vmStudentCustomTable.toggleAll(studentList | filter:searchFilter)">
            </md-checkbox>
        </th>
        <td colspan="2" ts-criteria="pcn">PCN</td>
        <td colspan="4" ts-criteria="firstName" ts-default>First Name</td>
        <td colspan="4" ts-criteria="lastName">Last Name</td>
        <td colspan="3" ts-criteria="email">Email</td>
        <td colspan="2" ts-criteria="studentNumber">Student Nr</td>
        <td colspan="1" ts-criteria="avgScore">Avg Score</td>
        <td colspan="2" ts-criteria="major">Major</td>
        <td colspan="2" ts-criteria="studentType">Type</td>
        <th colspan="2" style="vertical-align: middle;text-align: center;">
            <li ng-show="action == 0" ng-click="vmStudentCustomTable.removeStudents(vmStudentCustomTable.selected)"
                data-toggle="tooltip" title="Remove"
                class="button glyphicon glyphicon-remove-sign"></li>
            <li ng-show="action == 1" ng-click="vmStudentCustomTable.addStudents(vmStudentCustomTable.selected)"
                data-toggle="tooltip" title="Add"
                class="button glyphicon glyphicon-plus-sign"></li>
        </th>
    </tr>
    <tr ng-repeat="student in studentList | filter:searchFilter" ts-repeat ts-hide-no-data>
        <th colspan="1" style="vertical-align: middle;text-align: center;">
            <md-checkbox style="margin-bottom: 0;" class="md-primary" aria-label="Checkbox"
                         ng-checked="vmStudentCustomTable.exists(student)"
                         ng-click="vmStudentCustomTable.toggle(student)">
            </md-checkbox>
        </th>
        <td colspan="2">{{student.pcn}}</td>
        <td colspan="4">{{student.firstName}}</td>
        <td colspan="4">{{student.lastName}}</td>
        <td colspan="3">{{student.email}}</td>
        <td colspan="2">{{student.studentNumber}}</td>
        <td colspan="1">{{student.avgScore}}</td>
        <td colspan="2">{{student.major}}</td>
        <td colspan="2">{{student.studentType}}</td>
        <th colspan="2" style="vertical-align: middle;text-align: center;">
            <li ng-show="action == 0" ng-click="vmStudentCustomTable.removeStudent(student.pcn)" data-toggle="tooltip"
                title="Remove"
                class="button glyphicon glyphicon-remove"></li>
            <li ng-show="action == 1" ng-click="vmStudentCustomTable.addStudent(student)" data-toggle="tooltip" title="Add"
                class="button glyphicon glyphicon-plus"></li>
        </th>
    </tr>
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

