html, body {
    background-color: #FFFFFF;
    font-family: 'Source Sans Pro', "Arial Black", serif;
}

/* general angular md-button customize - remove margin */
.md-button {
    margin: 0;
    text-transform: none;
}