<md-dialog class="menu-dialog-section-setting" flex="50">
    <md-dialog-content>
        <div class="md-dialog-content">
            <h4>{{ vmDeleteCourseConfirmationDialog.serverResponse }}</h4>
        </div>

    </md-dialog-content>

    <md-dialog-actions layout="row">
        <md-button ng-click="vmDeleteCourseConfirmationDialog.cancel()">
            Cancel
        </md-button>
        <md-button ng-click="vmDeleteCourseConfirmationDialog.ok()">
            Yes
        </md-button>
    </md-dialog-actions>
</md-dialog>

