<div class="container courseEdit">
    <div class="row header top">
        <div class="col-xs-12" style="display: inline-block; padding-left: 0">
            <div class="col-xs-9" style="padding-left: 0">
                <h1 class="text-left text-muted"><strong style="text-transform: uppercase;">{{vmCourseEdit.course.name}}
                </strong>({{vmCourseEdit.course.code}})</h1>
            </div>
            <div class="col-xs-3">
                <button class="btn btn-default btn-lg pull-right" aria-label="save changes"
                        ng-click="vmCourseEdit.save()">
                    <span class="glyphicon glyphicon-floppy-disk fa-2x" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>

    <br/>

    <div>
        <div class="row"> <!--style="display: inline-flex;"-->
            <div class="col-xs-2 well well-sm removeWellStyle">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon"><strong> EC </strong></span>
                    <input type="number" ng-model="vmCourseEdit.course.ec" class="form-control" placeholder="EC"
                           aria-describedby="EC">
                </div>
            </div>
            <div class="col-xs-12"></div>
            <div class="col-xs-2 well well-sm removeWellStyle">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon"><strong> Block </strong></span>
                    <input type="number" ng-model="vmCourseEdit.course.block" class="form-control" placeholder="Block"
                           aria-describedby="Block">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-2 well well-sm removeWellStyle">
                <div class="input-group">
                    <span class="input-group-addon"> Max Seat </span>
                    <input type="number" ng-model="vmCourseEdit.course.maxSeats" class="form-control"
                           placeholder="MAX Seat"
                           aria-describedby="MaxSeat">
                </div>
            </div>
            <div class="col-xs-2 well well-sm removeWellStyle">
                <div class="input-group">
                    <span class="input-group-addon"> Filled Seat </span>
                    <input readonly="readonly" type="number" ng-model="vmCourseEdit.course.filledSeat"
                           class="form-control"
                           placeholder="Filled Seat" aria-describedby="FilledSeat">
                </div>
            </div>
        </div>
    </div>

    <md-content class="row well" md-theme="docs-dark" style="margin-top: 20px;">
        <div class="col-xs-6">
            <div flex-gt-xs>
                <h4>Registration Start Date</h4>
                <li class="fa fa-calendar fa-2x well well-sm removeWellStyle"
                    style="color: #563d7c; padding-left: 0;vertical-align: middle;"></li>
                <span moment-picker="vmCourseEdit.course.regStartDate"
                      format="LL LT"
                      autoclose="true">
                    <span class="well well-sm" style="background-color: transparent;border-color: grey;">
                        {{ vmCourseEdit.course.regStartDate || 'Enter Registration Start Date'}}
                    <li class="fa fa-chevron-down" style="color: #563d7c;"></li>
                    </span>
                </span>
            </div>
        </div>
        <div class="col-xs-6">
            <div flex-gt-xs>
                <h4>Registration End Date</h4>
                <li class="fa fa-calendar fa-2x well well-sm removeWellStyle"
                    style="color: #563d7c;padding-left: 0;vertical-align: middle;"></li>
                <span moment-picker="vmCourseEdit.course.regEndDate"
                      format="LL LT"
                      autoclose="true">
                    <span class="well well-sm" style="background-color: transparent;border-color: grey;">
                        {{ vmCourseEdit.course.regEndDate || 'Enter Registration End Date'}}
                    <li class="fa fa-chevron-down" style="color: #563d7c;"></li>
                    </span>
                </span>
            </div>
        </div>
    </md-content>

    <div class="row">
        <div class="col-xs-12" style="padding-left: 0;">
            <h3><strong>Description</strong></h3>
        </div>
        <div class="col-xs-7 well" style="background-color: transparent">
            <text-editor element="vmCourseEdit.course.description"></text-editor>
        </div>
    </div>

    <div class="row">
        <table class="table table-sm table-striped" style="display: block;">
            <thead class="thead-inverse">
            <tr>
                <th colspan="8" style="padding-left: 0"><h4>Course State</h4></th>
                <th colspan="8">
                    <md-select placeholder="Major" ng-model="vmCourseEdit.courseState.major"
                               md-on-open="vmCourseEdit.loadMajors()"
                               style="margin-top: 0;margin-bottom: 0;">
                        <md-option ng-value="major" ng-repeat="major in vmCourseEdit.majors">{{major}}</md-option>
                    </md-select>
                </th>
                <th colspan="8">
                    <md-select placeholder="CourseType" ng-model="vmCourseEdit.courseState.courseType"
                               md-on-open="vmCourseEdit.loadCourseTypes()" style="margin-top: 0;margin-bottom: 0;">
                        <md-option ng-value="courseType" ng-repeat="courseType in vmCourseEdit.courseTypes">
                            {{courseType}}
                        </md-option>
                    </md-select>
                </th>
                <th colspan="2" style="vertical-align: middle;">
                    <i ng-click="vmCourseEdit.addNewState()" data-toggle="tooltip" title="Add"
                       class="button pull-right glyphicon glyphicon-plus"></i>
                </th>
            </tr>
            <tr style="background-color: #563d7c;color: #FFFFFF;">
                <th colspan="8"></th>
                <th colspan="8">Major</th>
                <th colspan="8"><strong>Course Type</strong></th>
                <th colspan="2"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="state in vmCourseEdit.courseStates">
                <th colspan="8">
                    <i ng-click="vmCourseEdit.removeState(state)" data-toggle="tooltip" title="delete"
                       class="button glyphicon glyphicon-remove"></i>
                </th>
                <td colspan="8">{{state.major}}</td>
                <td colspan="8">{{state.courseType}}</td>
                <td colspan="2"></td>
            </tr>
            <tr ng-if="vmCourseEdit.courseStates.length == 0">
                <td colspan="8">-</td>
                <td colspan="8">-</td>
                <td colspan="8">-</td>
                <td colspan="2"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        <table class="table table-sm table-striped" style="display: block;">
            <thead class="thead-inverse">
            <tr>
                <th colspan="17" style="padding-left: 0"><h4>Teachers</h4></th>
            </tr>
            <tr>
                <td colspan="1"></td>
                <td colspan="2">PCN</td>
                <td colspan="5">First Name</td>
                <td colspan="5">Last Name</td>
                <td colspan="4">Email</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="teacher in vmCourseEdit.teachers">
                <th colspan="1">
                    <i ng-click="vmCourseEdit.removeTeacherFromCourse(teacher)" data-toggle="tooltip" title="delete"
                       class="button glyphicon glyphicon-remove"></i>
                </th>
                <td colspan="2">{{teacher.pcn}}</td>
                <td colspan="5">{{teacher.firstName}}</td>
                <td colspan="5">{{teacher.lastName}}</td>
                <td colspan="4">{{teacher.email}}</td>
                <!--Link-->
            </tr>
            <tr ng-if="vmCourseEdit.course.teachers.length == 0">
                <td colspan="1"></td>
                <td colspan="2">-</td>
                <td colspan="5">-</td>
                <td colspan="5">-</td>
                <td colspan="4">-</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="row well removeWellStyle" style="padding-left: 0">
        <md-button class="md-raised" aria-label="teachers" ng-click="vmCourseEdit.goToFontysTeacherDialog()">
            <span class="fa fa-users" aria-hidden="true"></span> List of the Teachers
        </md-button>
    </div>

    <div class="row">
        <md-button class="md-fab pull-right" aria-label="go top" ng-click="vmCourseEdit.goTop()" data-toggle="tooltip"
                   title="GoTop"
                   style="background-color: #333; margin-bottom: 20px"><span
                class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></md-button>
    </div>
</div>